name: Test

on: workflow_call

env:
  CARGO_TERM_COLOR: always
  CACHE_PATHS: |
    ~/.cargo/bin/
    ~/.cargo/registry/index/
    ~/.cargo/registry/cache/
    ~/.cargo/git/db/
    target/

jobs:
  test-linux:
    name: Test Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHE_PATHS }}
          key: build-${{ runner.OS }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Cargo Test
        run: cargo test --workspace
  test-windows:
    name: Test Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHE_PATHS }}
          key: build-${{ runner.OS }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Cargo Test
        run: cargo test --workspace
